.task-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.task-card {
    padding: 1rem;
    list-style: none;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
}
.task-card > .task-title {
}
.task-card > .task-description {
}