.task-table {
    display: grid;
    overflow: auto;
    align-content: start;
}
.task-table .table-msg {
    padding: 2rem;
    font-size: 1.5rem;
    border: 0.2rem dotted red;
}
.task-table .table-content {
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.task-table .table-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
}